@layer components {
    .inline-divider {
        display: flex;

        hr { 
            height: 0;
            flex-basis: 100%;
         }

        span {
            flex-basis: max-content;
        }
    }

    @layer text {
        .text-sm {
            font-size: 12px;
        }
    }

    @layer navigation {
        .navbar {
            max-width: 100vw;
            overflow: hidden;
            position: absolute;
            display: grid;
            grid-template-columns: max-content 1fr .4fr;
            align-items: center;
            justify-content: center;

            min-height: 36px;
            width: 100vw;
            top: 0;

            padding: 2rem 4rem;
            /* box-shadow: 0 0 10px 0 black; */

            z-index: 999999999;
        }

        .nav-brand {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 20px;
            width: max-content;
            gap: .4rem;
        }

        .nav-items {
            list-style: none;
            padding: 0;
            margin: 0;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: right;
            gap: 16px;

            font-weight: 400;
        }
    }

    @layer hero {
        .hero {
            height: 100svh;
            width: 100vw;
            position: relative;
            overflow: hidden;
        }

        .hero-overlay {
            position: absolute;
            height: 100%;
            width: 100%;

            * { z-index: -1;}
        }

        .hero-content {
            position: relative;
            height: 100%;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    @layer input {
        .input {
            outline: none !important;
            border: none;
            border-radius: 3px / 4px;
            width: 100%;

            padding: .6rem .8em;
            font-family: 'Inter', sans-serif;
            background-color: var(--bg-light);
            border: solid 1px oklch(30% 0 0 / .2);
            border-radius: 4px;
        }

        .input-password {

        }
    }

    @layer button {
        .button {
            display: grid;
            place-content: center;
            outline: none !important;
            border-radius: 3px / 4px;

            color: black;
            background-color: var(--bg-light);
            box-shadow: 0 2px 3px 0 oklch(5% 0 0 / .5);

            width: 100%;
            height: max-content;
            padding: .6rem 0;
            
        }

        .button-primary {
            color: oklch(95% 0 0);
            background-color: #DC143C;
        }

        .button-sm {
            max-width: 200px;
        }
    }







    

    @media (max-width: 768px) {
        .navbar {
            justify-content: left;
            padding: 1rem;
        }

        .nav-brand {
            /* transform: scale(.2); */
        }

        .nav-items {
            display: none;
        }

        .nav-extra {
            display: none !important;
        }

        .hero-content {
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: large;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}

