@import "theme.css" layer(base);
@import "components.css";

/* Normalize body */
@layer base {
    * { box-sizing: border-box; }
    html, body {
        min-height: 100svh;
    }

    body {
        margin: 0;
        padding: 0;
        position: relative;
        overflow-x: hidden;
        
        font-size: 16px;
        font-family: 'Roboto', Tahoma, Verdana, sans-serif;
        font-weight: 400;

        background-color: var(--bg-light);
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    label {
        width: 100%;
    }

    /* Containers */

    header:has(> nav.navbar) {
        position: relative;
        width: 100vw;
        height: max-content;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: auto;
    }
}


@layer utilities {
    .bg-black {
        background-color: oklch(20% 0 0);
    }

    .blur-xxl {
        position: absolute;
        filter: blur(50px);
    }

    .max-w-md {
        max-width: 600px;
    }

    .my-4 {
        margin-top: .8rem;
    }

    .w-full {
        width: 100%;
    }

    .w-screen {
        /* width: 100vw; */
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .text-xs {
        font-size: .8rem;
    }

    .text-center {
        text-align: center;
    }
}