@import "theme.css" layer(base);
@import "components.css";

/* Normalize body */
@layer base {
    * { box-sizing: border-box; }
    html, body {
        min-height: 100svh;
    }

    body {
        margin: 0;
        padding: 0;
        position: relative;
        overflow-x: hidden;
        max-width: 100vw;

        word-break: keep-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
        
        font-size: 16px;
        font-family: 'Roboto', Tahoma, Verdana, sans-serif;
        font-weight: 400;

        background-color: var(--bg-light);
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    label {
        width: 100%;
    }

    /* Containers */

    header:has(> nav.navbar) {
        position: relative;
        width: 100vw;
        height: max-content;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: auto;
    }

    footer {
        width: 100%;
        min-height: max-content;
        background-color: oklch(30% 0 0);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        gap: 1rem;
    }
}


@layer utilities {
    .bg-black {
        background-color: oklch(20% 0 0);
    }

    .blur-xxl {
        position: absolute;
        filter: blur(50px);
    }

    .max-w-md {
        max-width: 600px;
    }

    .my-4 {
        margin-top: .8rem;
    }

    .w-full {
        width: 100%;
    }

    .w-screen {
        /* width: 100vw; */
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .text-xs {
        font-size: .8rem;
    }

    .text-center {
        text-align: center;
    }

    .mobile-hidden {
        @media (max-width: 768px) {
            display: none;
        }
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}